<template>
	<v-row align="center">
		<v-col class="text-center">
			<div class="my-2">
				<v-btn tile color="primary" v-on:click="downloadMap(testData1)">Download map (1)</v-btn>
			</div>
			<div class="my-2">
				<v-btn tile color="secondary" v-on:click="downloadMap(testData2)">Download map (2)</v-btn>
			</div>
			<div class="my-2">
				<v-btn tile color="primary" v-on:click="getResult()" v-if="!!jobRevision">Get result</v-btn>
			</div>
			<div class="my-2">
				<v-btn tile color="primary" v-on:click="downloadPreview()" v-if="!!result">Download preview</v-btn>
			</div>
			<div class="my-2">
				<v-btn tile color="primary" v-on:click="downloadLog()" v-if="!!result">Download log</v-btn>
			</div>
		</v-col>
	</v-row>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";
import * as TestData from "@/TestData";

// Enums
import { Maps4NewsJobType } from "@/enums/Maps4NewsJobType";
import { Maps4NewsLanguageCode } from "@/enums/Maps4NewsLanguageCode";
import { Maps4NewsMapStyle } from "@/enums/Maps4NewsMapStyle";

// Interfaces
import { Maps4NewsApi } from "@/types/Maps4NewsApi";
import { Maps4NewsUserInfo } from "@/types/Maps4NewsUserInfo";
import { Maps4NewsJob } from "@/types/Maps4NewsJob";
import { Maps4NewsJobRevision } from "@/types/Maps4NewsJobRevision";
import { Maps4NewsResult } from "@/types/Maps4NewsResult";

@Component
export default class MapsDownloader extends Vue {
	@Prop() api!: Maps4NewsApi;
	userInfo: Maps4NewsUserInfo | null = null;
	jobRevision: Maps4NewsJobRevision | null = null;
	result: Maps4NewsResult | null = null;

	// TODO: define type instead of unknown
	get testData1 (): unknown {
		return TestData.data1;
	}

	// TODO: define type instead of unknown
	get testData2 (): unknown {
		return TestData.data2;
	}

	// TODO: define type instead of unknown
	async downloadMap (data: unknown): Promise<void> {
		const job: Maps4NewsJob = await this.api.jobs.new({
			jobTypeId: Maps4NewsJobType.AnnotationMap,
			title: "My map" // TODO: get from user input
		}).save();

		const jobRevision: Maps4NewsJobRevision = await job.revisions.new({
			languageCode: Maps4NewsLanguageCode.English,
			mapstyleSetId: Maps4NewsMapStyle.Mapcreator
		}).save(data, []);

		this.jobRevision = jobRevision;

		// Build
		// TODO: define type instead of unknown
		const build: unknown = await jobRevision.build();
		console.log("build:", build);
	}

	async getResult (): Promise<void> {
		if (!this.jobRevision) {
			return;
		}

		const result: Maps4NewsResult = await this.jobRevision.result();
		console.log("result", result);
		this.result = result;
	}

	async downloadPreview (): Promise<void> {
		if (!this.result) {
			return;
		}

		// TODO: define type instead of unknown
		const preview: unknown = await this.result.downloadPreview();
		console.log("preview", preview);
	}

	async downloadLog (): Promise<void> {
		if (!this.result) {
			return;
		}

		// TODO: define type instead of unknown
		const log: unknown = await this.result.downloadLog();
		console.log("log", log);
	}
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
