<template>
	<v-toolbar-title v-if="hasUserInfo">{{ userInfo.name }} ({{ userInfo.email }})</v-toolbar-title>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { Store } from "@/types/Store";

@Component
export default class UserInfo extends Vue {
	get userInfo () {
		return (this.$store.state as Store).userInfo;
	}

	get hasUserInfo () {
		return this.$store.getters.hasUserInfo;
	}
}
</script>
