<template>
  <v-app>
	<v-app-bar
		app
		color="primary"
		dark
		dense
	>
		<v-toolbar-title>maps4news-dummy-app</v-toolbar-title>

		<v-spacer></v-spacer>

		<UserInfo></UserInfo>
		<v-btn icon v-on:click="logout()" v-bind:disabled="!isAuthenticated">
			<v-icon>mdi-logout-variant</v-icon>
		</v-btn>
	</v-app-bar>

	<v-content>
		<div class="text-center">
			<v-btn class="ma-8" outlined color="primary" v-if="!isAuthenticated" v-on:click="authenticate()" v-bind:loading="authenticating">Login</v-btn>
			<v-divider></v-divider>
			<MapsDownloader v-if="isAuthenticated" v-bind:api="api"></MapsDownloader>
		</div>
	</v-content>
  </v-app>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
// eslint-disable-next-line @typescript-eslint/ban-ts-ignore
// @ts-ignore Ignore missing typings for @mapcreator/maps4news
import { ImplicitFlow, Maps4News } from "@mapcreator/maps4news";

// Components
import UserInfo from "@/components/UserInfo.vue";
import MapsDownloader from "@/components/MapsDownloader.vue";

// Interfaces
import { ApiSettings } from "@/types/ApiSettings";
import { Store } from "@/types/Store";
import { Maps4NewsApi } from "@/types/Maps4NewsApi";
import { Maps4NewsUserInfo } from "@/types/Maps4NewsUserInfo";

// Store
import * as Actions from "@/store/Actions";

@Component({
	components: {
		UserInfo,
		MapsDownloader
	}
})
export default class App extends Vue {
	// Data
	auth: ImplicitFlow = new ImplicitFlow(this.apiSettings.id, this.apiSettings.callback);
	api: Maps4NewsApi = new Maps4News(this.auth, this.apiSettings.host);
	authenticating = false;

	get apiSettings (): ApiSettings {
		return (this.$store.state as Store).settings.api;
	}

	get isAuthenticated () {
		return this.api.authenticated;
	}

	mounted (): void {
		// Handle authentication after redirect back from maps4news API.
		if (this.isAuthenticated) {
			this.onAuthenticated();
		}
	}

	onAuthenticated (): void {
		// Save token.
		this.api.saveToken();

		// Get user info
		this.api.users.get("me").then((userInfo: Maps4NewsUserInfo) => {
			this.$store.dispatch(Actions.USER_LOGIN, userInfo);
		});

		/*
		this.api.users.select("me").mapstyleSets.list().then((sets) => {
			for (const set of sets.data) {
				console.log(`[${set.id}] ${set.name}`);
			}
		});
		*/
	}

	authenticate (): void {
		this.authenticating = true;
		this.api.authenticate().then(() => {
			// Does not trigger when using the ImplicitFlow. Left here such
			// that it works when another flow is chosen.
			this.onAuthenticated();
		});
	}

	logout (): void {
		// Not the official way, but for demo / testing purposes:
		// trhow away the token.
		localStorage.clear();

		window.location.reload();
	}
}
</script>
